<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>




<div>
        <div class="card container fade_in" style="width: 30%; display: inline-block;">
                <img src="https://target.scene7.com/is/image/Target/GUEST_6c213820-593a-4f55-b6da-cf2a895d2a38?wid=488&hei=488&fmt=webp" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{top3.0.name.capitalize()}}</h5>
                  <p class="card-text">{{top3.0.price}}</p>
                  <p>There are {{top3.0.votes}} VOTES!!!</p>
                  <a href="#" class="btn btn-primary">Purchase Now!</a>
                </div>
        </div>
        <div class="card container fade_in2" style="width: 30%; display: inline-block;">
                <img src="https://theunconventional.co.uk/media/catalog/product/cache/1/image/2663x4000/9df78eab33525d08d6e5fb8d27136e95/1/3/139dec-long-black-tshirt-1.jpg" class="card-img-top" alt="middle photo">
                <div class="card-body">
                  <h5 class="card-title">{{top3.1.name.capitalize()}}</h5>
                  <p class="card-text">{{top3.1.price}}</p>
                  <p>There are {{top3.1.votes}} VOTES!!!</p>
                  <a href="#" class="btn btn-primary">Purchase Now!</a>
                </div>
        </div>
        <div class="card container fade_in3" style="width: 30%; display: inline-block;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMgRTlpF78e6qYaZ661rfY90zCV--xAOnFsya5sqWWI90BUsZ6" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{top3.2.name.capitalize()}}</h5>
                  <p class="card-text">{{top3.2.price}}</p>
                  <p>There are {{top3.2.votes}} VOTES!!!</p>
                  <a href="#" class="btn btn-primary">Purchase Now!</a>
                </div>
        </div>
    </div> 